body {
  background-color: #3b3a3d;
  color: #fcc942;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.3vw;
}
iframe {
  margin: -0.8% -0.9%;
}
bottom {
  top: 100%;
  color: black;
a {
  text-decoration:none;
  color: #fca200;
}
.responsive {
  width: 15%;
  height: auto;
  margin-left: -0.1%;
  margin-up: -1%;
}
.intro {
  font-size:2vw;
  height: auto;
  font-weight: 100;
}
.button {
  background-color: #2c2f33;
  font-family: Helvetica, Fantasy, sans-serif;
  border: 1px solid #1a1c1f;
  color: #FFFFFF;
  font-weight: 90;
  max-width: 12%;
  min-width: 12%;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin: -0.3% -0.3%;
  cursor: alias;
  border-radius: 0px 0px 0px 0px;
}
.button:hover {
  background-color: #1a1c1f;
  border: 2px solid #111214;
  color: #FFFFFF;
}
.L {
  border-radius: 0px 0px 0px 14px;
}
.R {
  border-radius: 0px 0px 14px 0px;
}
.raw {
  background-color: #2c2f33;
  color: #FFFFFF;
  border: 2px solid #111214;
  width: 400px;
  height: 300px;
  padding: 5px 0px 5px 0px;
}
