.button {
  text-decoration:none;
  background-color: #2c2f33;
  font-family: Helvetica, Fantasy, sans-serif;
  border: 0.1vw solid #1a1c1f;
  color: #FFFFFF;
  font-weight: 90;
  max-width: 12%;
  min-width: 12%;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin: -0.3% -0.3%;
  cursor: alias;
  border-radius: 0px 0px 0px 0px;
}
.L {
  border-radius: 0px 0px 0px 14px;
}
.R {
  border-radius: 0px 0px 14px 0px;
}
.button:hover {
  background-color: #1a1c1f;
  border: 1px solid #111214;
  color: #FFFFFF;
}
.responsive {
  width: 15%;
  height: auto;
  margin-left: -0.1%;
  margin-up: -1%;
}
a {
  color: #fca200;
}
